<?xml version="1.0" encoding="UTF-8" ?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">
    <Properties>
        <Property name="path">./logs</Property>
    </Properties>

    <Appenders>
        <RollingFile name="logToFile" fileName="${path}/errors-log.log" filePattern="${path}/errors-log-%i.log">
            <PatternLayout pattern="%d{dd-MM-yyyy HH:mm:ss} [%p] %c [MESSAGE]=%m%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="7 KB" />
            </Policies>
            <DefaultRolloverStrategy max="4" />
        </RollingFile>
        <Console name="logToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%c]: %m%n" />
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="com.unsubble" level="DEBUG" additivity="false">
            <AppenderRef ref="logToConsole" />
        </Logger>
        <Root level="WARN">
            <AppenderRef ref="logToFile"/>
        </Root>
    </Loggers>
</Configuration>